[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/elushaX/imgui.git
[submodule "Externals/lua"]
	path = Externals/lua
	url = https://github.com/elushaX/lua.git
[submodule "Externals/unittest-cpp"]
	path = Externals/unittest-cpp
	url = https://github.com/elushaX/unittest-cpp.git
[submodule "Externals/glfw"]
	path = Externals/glfw
	url = https://github.com/elushaX/glfw.git
[submodule "Externals/nanovg"]
	path = Externals/nanovg
	url = https://github.com/elushaX/nanovg.git
[submodule "Externals/lalr"]
	path = Externals/lalr
	url = https://github.com/elushaX/lalr.git
[submodule "Externals/asio"]
	path = Externals/asio
	url = https://github.com/elushaX/asio.git
