[submodule "Externals/asio"]
	path = Externals/asio
	url = https://github.com/IlyaShurupov/asio.git
[submodule "Externals/glfw"]
	path = Externals/glfw
	url = https://github.com/IlyaShurupov/glfw.git
[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/IlyaShurupov/imgui.git
[submodule "Externals/glew"]
	path = Externals/glew
	url = https://github.com/IlyaShurupov/glew.git
[submodule "Externals/nanovg"]
	path = Externals/nanovg
	url = https://github.com/IlyaShurupov/nanovg.git
[submodule "Externals/lua"]
    path = Externals/lua
    url = https://github.com/lua/lua.git
[submodule "Externals/lalr"]
	path = Externals/lalr
	url = https://github.com/IlyaShurupov/lalr.git
